html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
  color: #384855;
  font-family: Arial, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 

}

:root {
  /* Type */
  --h1: 6.854rem;
  --h2: 4.236rem;
  --h3: 2.618rem;
  --h4: 1.618rem;
  --h5: 1.5rem;
  --smallText: 1rem;
 
  /*  colors  */
  --black: #000;
  
  --light-blue: #ABD3D8;
  --mid-blue: #589DB3;
  --dark-blue:rgba(0, 101, 135, 0.165);
  
  --light-gray: #ACA7BB;
  --mid-gray: #84848A;
  --dark-red: rgba(38, 0, 95, 0.135);

  --gray: #252c30;
}
 .warm {
   --primary: var(--light-gray);
   --secondary: var(--mid-gray);
   --tertiary:var(--dark-red); 
   

   }
 .cool {
   --primary: var(--light-blue);
   --secondary: var(--mid-blue);
   --tertiary: var(--dark-blue);
   
 }
   
body{
  background-repeat: no-repeat;
  background-position: top;
}



h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}


#holding-container{
    text-align: center;
    margin-top: 60px; 
    box-sizing: border-box;
    display: flexbox;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
}

.title, .sub-title{
    text-align: center;
}


.main-page, .header {
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 1.5rem;
    width: 30%;
    justify-content: center;
    background-color: var(--primary);
    margin: auto; 

}
.main-info{
    align-content: center;
    justify-content: center;
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.display{
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary);
  border-radius: 30px;
  padding: 3rem;
  

}

.display-card {
  display: flex; 
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: italic;
  margin: 2rem; 
  width: 29%;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  transition: all 0.2s;
}
.display-img {
  padding: 5%;
  width: 70%;
  justify-content: space-around;
  border-radius: 30px;
}
.display-title{
  margin-top: 1rem;
  font-size: var(--h4);
  margin-bottom: 1rem;
}

.display-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 1rem var(--secondary);
}

.angel-btn,
.angel-btn:link,
.angel-btn:visited, .vampire-btn, .vampire-btn:link, .vampire-btn:visited, .link-btn, .ori-btn, .cover-btn, .all-btn{
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 3rem 2.5rem;
  justify-content: space-around;
  font-size: 1.5rem;
  border-radius: 3rem;
  transition: all 0.2s;
  position: relative;
  border-style:double;
  border-color: #826b6b;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  background-color: #ffffff;
}
.angel-btn:hover, .vampire-btn:hover, .ori-btn:hover, .cover-btn:hover, .all-btn:hover{
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem var(--secondary);
}
.angel-btn:active, .vampire-btn:active, .ori-btn:active, .cover-btn:active, .all-btn:active{
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem var(--secondary); 
}

.link-btn{
  padding: 1rem 2rem;
  display: inline-block;
  margin: 2rem;
  font-size: 2rem;
  border:none;
  background-color: var(--secondary);
  color: #ffffff;
  
}

.link-btn:hover {
  transform: translateY(-0.3rem); 
}

