html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
  color: #2c3e50;
  font-family: Arial, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 

}

:root {
  /* Type */
  --h1: 6.854rem;
  --h2: 4.236rem;
  --h3: 2.618rem;
  --h4: 1.618rem;
  --h5: 1.5rem;
  --smallText: 1rem;
 
  /*  colors  */
  --black: #000;
  
  --light-blue: #ABD3D8;
  --mid-blue: #589DB3;
  --dark-blue:#102f94;
  
  --light-red: #ACA7BB;
  --mid-red: #84848A;
  --dark-red: #9f1818;

  --gray: #252c30;

  /*Intentions */
  --primary: var(--light-blue);
  --secondary: var(--mid-blue);
}
 .warm {
   --primary: var(--light-red);
   --secondary: var(--mid-red);
   }
 .cool {
   --primary: var(--light-blue);
   --secondary: var(--mid-blue);
 }
 .hero {
   background-color: var(--primary);
 }
 .main {
   background-color: var(--secondary);
   
}


h1 {
  margin-top: 40px;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}


#holding-container{
    text-align: center;
    margin-top: 60px; 
    box-sizing: border-box;
    display: flexbox;
    flex-direction: wrap;
}

.title, .sub-title{
    text-align: center;
}

.main-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.main-info{
    border-style: dashed;
    border-color: #2c3e50; 
    width: 45%;
    align-content: center;
    justify-content: space-around;
    margin: 2rem;
    font-size: 1.5rem;
}

.display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  margin: 2rem auto;
  box-sizing: border-box;
  align-items: center;
  
}
.display-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 30px;
  font-style: italic;
  margin-top: 10%;
  /* margin: 2rem; */
  width: 35%;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: #e7f4ff;
  transition: all 0.2s;
}
.display-img {
  padding: 5%;
  width: 70%;
  border-radius: 30px;
}
.display-artist{
  margin-top: 1rem;
  font-size: var(--h4);
  margin-bottom: 1rem;
}

.display-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 1rem #b8deff;
}

.btn,
.btn:link,
.btn:visited, .link-button, .ori-btn, .cover-btn{
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border-style: dashed;
  border-color: #826b6b;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  background-color: #ffffff;
}
.btn:hover, .ori-btn:hover, .cover-btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem #b8deff;
}
.btn:active, .ori-btn:active, .cover-btn:active{
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem #b8deff;
}

.link-button,{
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
  border: none;
  background-color: #b8deff;
  color: #ffffff;
  border-radius: 10px;
}

.link-button:hover {
  transform: translateY(-0.3rem);
  
}